/* Styling for the WelcomePage component */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.welcome-container1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/FolderSelectWall.jpeg'); /* Set the background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.welcome-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.highlight {
    color: #f27021; /* Orange highlight for USDA */
}

.division-selection {
    margin-top: 20px;
}

.division-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.division-buttons button0 {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #acaaaa;
    color: rgb(14, 11, 11);
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.division-buttons button0:hover {
    background-color: #f27021; /* Orange on hover */
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ed7428;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #d16322;
    /* Darker shade on hover */
}
