.form-container {
    width: 55%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #96b0d8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-header {
    text-align: center;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-textarea {
    min-height: 80px;
  }
  
  .table-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .table-list {
    list-style: none;
    padding: 0;
  }
  
  .table-list-item {
    background-color: #e3f2fd;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .btn1 {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-add {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-submit1 {
    background-color: #2196f3;
    color: white;
  }

  .form-label {
    font-weight: bold;
  }
  
    .home-button {
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: #ed7428;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 25px;
      font-size: 1rem;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
    }
  
    .home-button:hover {
      background-color: #d16322;
      /* Darker shade on hover */
    }